/build
/*.user

# User-specific files

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
*.nupkg
*.dll
*.pdb
*.lock.json
bin/
obj/
**/project.lock.json
**/testresults.xml
**/*.orig
pack.*.log
/.net/.cr
/.net/.vs
